<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--导航栏-->
<div th:insert="~{navigation :: copy}"></div>
<!--描述信息-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'questions'}">
                <div class="media" th:each="question : ${pageInfo.list}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 ·
                        <span th:text="${question.viewCount}"></span>次浏览 ·
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span></span>

                        <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                           th:if="${session.user != null && session.user.id == question.creator}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            编辑
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="media" th:each="notification : ${pageInfo.list}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName + ' 回复了你 '}"></span>
                            <a th:href="@{'/notification/'+ ${notification.id}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'likes'}">
                <div class="media" th:each="notification : ${pageInfo.list}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName + ' 赞了你 '}"></span>
                            <a th:href="@{'/notification/'+ ${notification.id}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>

            <!--显示分页信息-->
            <nav aria-label="Page navigation" class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <ul class="pagination">
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/profile/'+${section}+'/?page=1'">首页</a>
                    </li>
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/profile/'+${section}+'/?page=' + ${pageInfo.prePage}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pageInfo.navigatepageNums}">
                        <a th:href="'/profile/'+${section}+'/?page='+${page}" th:text="${page}" th:if="${page != pageInfo.pageNum}"></a>
                        <span style="font-weight: bold;background: #6faed9;" th:if="${page == pageInfo.pageNum}" th:text="${page}" ></span>
                    </li>
                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/profile/'+${section}+'/?page='+ ${pageInfo.nextPage}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/profile/'+${section}+'/?page='+${pageInfo.pages}">尾页</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section == 'questions'}? 'active list-group-item' : 'list-group-item'">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'">
                    最新回复
                    <span class="badge" th:text="${cUnReadCount}"></span>
                </a>
                <a href="/profile/likes"
                   th:class="${section == 'likes'}? 'active list-group-item' : 'list-group-item'">
                    我收到的点赞
                    <span class="badge" th:text="${lUnReadCount}"></span>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>